    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading bg-secondary text-white" ><span><img src="/img/icon.png" style="width: 25px"  alt=""></span> Tristone Flowtech</div>
        <div class="list-group list-group-flush">
          <a href="/" class="list-group-item list-group-item-action bg-light"><span class="text-info fas fa-tachometer-alt"></span>  Dashboard</a>
          <ul class="list-group">
            <li class="list-group_item">
              <a href="#" class="list-group-item list-group-item-action bg-light" id="click_hide_show"><span class="text-info fas fa-angle-right"></span><span class="text-info fas fa-server"></span> B10</a>
              <ul>
                <a href="/consulta_empleados" class="list-group-item list-group-item-action bg-light hide_show" ><span class="text-info fas fa-angle-double-right"></span><span class="text-info far fa-address-book"></span>  Empleados</a> 
                <!-- <a href="/consulta_bmw" class="list-group-item list-group-item-action bg-light hide_show" ><span class="text-info fas fa-angle-double-right"></span><span class="text-info fas fa-database"></span>  BMW</a> -->
                <a href="/consulta_bmwg0x" class="list-group-item list-group-item-action bg-light hide_show" ><span class="text-info fas fa-angle-double-right"></span><span class="text-info fas fa-database"></span>  BMWG0X</a>  
                <a href="/consulta_bmwg2x" class="list-group-item list-group-item-action bg-light hide_show" ><span class="text-info fas fa-angle-double-right"></span><span class="text-info fas fa-database"></span>  BMWG2X</a> 
                <a href="/consulta_bmwservicios" class="list-group-item list-group-item-action bg-light hide_show" ><span class="text-info fas fa-angle-double-right"></span><span class="text-info fas fa-database"></span>  BMWSERVICIOS</a> 
                <a href="/consulta_ford" class="list-group-item list-group-item-action bg-light hide_show" ><span class="text-info fas fa-angle-double-right"></span><span class="text-info fas fa-database"></span>  Ford</a> 
                <a href="/consulta_gm" class="list-group-item list-group-item-action bg-light hide_show" ><span class="text-info fas fa-angle-double-right"></span><span class="text-info fas fa-database"></span>  GM</a>
                <a href="/consulta_gmservicios" class="list-group-item list-group-item-action bg-light hide_show" ><span class="text-info fas fa-angle-double-right"></span><span class="text-info fas fa-database"></span>  GMSERVICIOS</a>
                <a href="/consulta_lucid" class="list-group-item list-group-item-action bg-light hide_show" ><span class="text-info fas fa-angle-double-right"></span><span class="text-info fas fa-database"></span>  Lucid</a> 
                <a href="/consulta_vwmexico" class="list-group-item list-group-item-action bg-light hide_show" ><span class="text-info fas fa-angle-double-right"></span><span class="text-info fas fa-database"></span>  VW-Mexico</a>
                <a href="/consulta_navistar" class="list-group-item list-group-item-action bg-light hide_show" ><span class="text-info fas fa-angle-double-right"></span><span class="text-info fas fa-database"></span>  Navistar</a>
                <a href="/consulta_chrysler" class="list-group-item list-group-item-action bg-light hide_show" ><span class="text-info fas fa-angle-double-right"></span><span class="text-info fas fa-database"></span>  CHRYSLER</a> 
              </ul>
              </li>
          </ul>
          
        </div>
        <div class="list-group list-group-flush">
          <ul class="list-group">
            <li class="list-group_item">
              <a href="#" class="list-group-item list-group-item-action bg-light" id="click_hide_show2"><span class="text-info fas fa-angle-right"></span><span class="text-info fas fa-server"></span> Semi Terminado</a>
              <ul>
                <a href="/consulta_rackestampado" class="list-group-item list-group-item-action bg-light hide_show2" ><span class="text-info fas fa-angle-double-right"></span><span class="text-info fas fa-database"></span>  Rack Estampado</a>
                <li style="list-style: none;">
                  <ul style="list-style: none;">
                    <li>
                      <a href="/consulta_vulcanizado" class="list-group-item list-group-item-action bg-light hide_show2" ><span class="text-info fas fa-angle-double-right"></span><span class="text-info fas fa-database"></span>  Numeros de parte 5V</a>
                      <a href="/consulta_extrusion" class="list-group-item list-group-item-action bg-light hide_show2" ><span class="text-info fas fa-angle-double-right"></span><span class="text-info fas fa-database"></span>  Numeros de parte 5E</a>
                      <a href="/consulta_subEnsamble" class="list-group-item list-group-item-action bg-light hide_show2" ><span class="text-info fas fa-angle-double-right"></span><span class="text-info fas fa-database"></span>  Numeros de parte 5S</a>
                    </li>
                  </ul>
                </li >
               
              </ul>
              </li>
          </ul>
          
          
        </div>

        <div class="list-group list-group-flush">
          <ul class="list-group">
            <li class="list-group_item">
              <a href="#" class="list-group-item list-group-item-action bg-light" id="click_hide_show3"><span class="text-info fas fa-angle-right"></span><span class="text-info fas fa-server"></span> Materia Prima</a>
              <ul>
                <a href="/consulta_mp" class="list-group-item list-group-item-action bg-light hide_show3" ><span class="text-info fas fa-angle-double-right"></span><span class="text-info fas fa-database"></span>  MP MES</a>
                <!-- <li style="list-style: none;">
                  <ul style="list-style: none;">
                    <li>
                      <a href="/consulta_vulcanizado" class="list-group-item list-group-item-action bg-light hide_show3" ><span class="text-info fas fa-angle-double-right"></span><span class="text-info fas fa-database"></span>  Numeros de parte 5V</a>
                      <a href="/consulta_extrusion" class="list-group-item list-group-item-action bg-light hide_show3" ><span class="text-info fas fa-angle-double-right"></span><span class="text-info fas fa-database"></span>  Numeros de parte 5E</a>
                      <a href="/consulta_subEnsamble" class="list-group-item list-group-item-action bg-light hide_show3" ><span class="text-info fas fa-angle-double-right"></span><span class="text-info fas fa-database"></span>  Numeros de parte 5S</a>
                    </li>
                  </ul>
                </li > -->
               
              </ul>
              </li>
          </ul>          
        </div>
      </div>

      
      <!-- /#sidebar-wrapper -->
